* {
  box-sizing: border-box;
}
:root {
  --sidebar-width: 310px;
}

.app {

  min-height: 100vh;

  display: grid;

grid-template-columns: var(--sidebar-width) 1fr;
  background:
    linear-gradient(
      180deg,
      #fbfcff 0%,
      #f7f8fc 100%
    );

  transition: grid-template-columns .28s ease;

}



.main {

  padding: 42px 44px;

  overflow: hidden;

}



.content {

  width: min(1180px, 100%);

  margin: 0 auto;

}



/* Tablet */

@media (max-width: 980px) {

:root{
  --sidebar-width:240px;
}


  .main {

    padding: 30px 24px;

  }

}



/* Mobile */

@media(max-width:760px){

:root{
  --sidebar-width:280px;
}


.app{

grid-template-columns:1fr;

}

}

.mobile-menu{

  display:none;

}


@media(max-width:980px){

  .mobile-menu{

    display:flex;

    align-items:center;

    justify-content:center;

    position:fixed;

    top:15px;

    left:15px;

    z-index:300;

    width:36px;

    height:36px;

    border:none;

    border-radius:9px;

    background:#5538f5;

    color:white;

    font-size:22px;

    cursor:pointer;

    transition:transform .3s ease;

  }


  .mobile-menu.open{

  transform:translateX(
    calc(var(--sidebar-width) - 55px)
  );

}




}

